{% extends 'base.html.twig' %}

{% block title %}Analysis | Back{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row fila-blog">
            <div class="container-fluid">
                <div class="row justify-content-start">
                    <div class="col-7 col-lg-6 ml-3">
                        <div><a style="text-decoration: none; color: white" class="btn" href="{{ path('create_category') }}">
                                <button class="btn btn-primary">
                                    <i class="fa fa-plus-circle">
                                    </i> Add category
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="col-12 col-entradas-blog">

                <h2>Analysis</h2>

                {% if analysis %}
                {% for analysi in analysis %}


                <section class="blog-entrada">
                    <div class="row fila-entrada">
                        <div class="col-3">
                            <img class="w-100" src="{{ asset(avatar_public_directory ~  analysi.image) }}" alt="imagen-entrada-blog">
                        </div>
                        <div class="col-8 cuerpo-entrada">
                            <h1 class="titulo-entrada">{{ analysi.title }}</h1>
                            <p class="fecha-entrada"><i class="fas fa-calendar"></i>&nbsp;Published on: <span>{{ analysi.date | date }}</span></p>
                            <p class="texto-entrada">{{ analysi.content }} </p>
                        </div>
                    </div>
                </section>

                {% endfor %}
                {% else %}
                    <h2>There aren't any analysi</h2>
                {% endif %}



            </div>
        </div>
    </div>
{% endblock %}
